@model Photo

<h3>@Model.Id Information</h3>

<div>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>File Path</th>
            <th>ImageData</th>
        </tr>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.Title</td>
            <td>@Model.Description</td>
            <td>@Model.FilePath</td>
            <td>@Model.ImageData</td>
        </tr>

    </table>
    <div style="display: block">
        <a href="/Photo/Updatephoto/@Model.Id">Update this Photo</a>
    </div>
    <div style="display: block">

        @using (Html.BeginForm("DeletePhoto", "Photo", "Post"))
        {
            <input type="hidden" asp-for="Id" value="@Model.Id" />
            <input type="submit" onclick="return confirm('Are you sure?')" value="Delete this photo" />
        }
    </div>
</div>
